<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/mjj6lpb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheet.css">
    <script src="../js/script.js"></script>
</head>


<body>
    <header>
        <!-- search button in small screen -->
        <a class="search_button" href="#"><i class="fa fa-search"></i></a>

        <!-- logo -->
        <a href="index.html"><img id="logo" src="../public/images/Discogs Logo.jpeg" alt="Discogs Logo"></a>

        <!-- search box -->
        <div class="text_box">
            <input class="input_txt" type="text" placeholder="Search album, artists and more..." name="">
            <a class="search_button" href="#"><i class="fa fa-search"></i></a>
        </div>

        <!-- top navigation list -->
        <nav id="topnav">
            <ul>
                <li><a href="productListing.html">Buy Music</a></li>
                <li><a href="">Sell Music</a></li>
                <li><a href=""><i class="fa fa-question-circle"></i> Help</a></li>
                <li><a href=""><i class="fa fa-heart"></i> Wishlist</a></li>
                <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                <li><a href="login.html"><i class="fa fa-user"></i> Log In</a></li>
            </ul>
        </nav>

        <!-- hamburger icon in small screen -->
        <a href="javascript:void(0);" class="hamburger" onclick="showHide('topnav')"><i class="fa fa-bars"></i></a>
    </header>

    <main id="about">
        <!-- the top big image -->
        <div class="container">
            <img id="home_image" src="../public/images/about main.jpeg" alt="image of CD">
            <h1 id="about_txt">About Discogs</h1>
        </div>

        <h3 class="discription">We’re on a mission to build the biggest and most comprehensive music database and marketplace. Imagine a site with discographies of all labels, all artists, all cross-referenced, and an international marketplace built off of that database. It’s for the love of music, and we’re getting closer every day.</h3>
        
        <!-- three sections with different topics -->
        <div class="grey_background">
            <div class="flex_container">
                <div class="cards"><img src="../public/images/the database.jpeg" alt="photo of CDs"></div>
                <div class="cards">
                    <h1>The Database</h1>
                    <p>The heart of Discogs is a user-built database of music. More than 516,000 people have contributed some piece of knowledge, to build up a catalog of more than 12,487,000 recordings and 6,862,000 artists. We’re far from done and you can contribute too! Discogs also offers the ability to catalog your music collection, wantlist, and share your ratings and reviews.</p>
                </div>
            </div>
        </div>
        
        <div class="flex_container">
            <div class="cards">
                <h1>The Marketplace</h1>
                <p>The Discogs Marketplace connects buyers and sellers across the globe. With more than 23 million items available and thousands of sellers, this is the premier spot from new releases to hard to find gems. Because the Marketplace is built on top of the accurate Discogs database, it is easy for sellers to list their inventory and buyers are able to specify the exact version they want.</p>
            </div>
            <div class="cards"><img src="../public/images/the marketplace.jpeg" alt="photo of market"></div>
        </div>

        <div class="grey_background">
            <div class="flex_container">
                <div class="cards"><img src="../public/images/the story.jpeg" alt="photo of typewriter"></div>
                <div class="cards">
                    <h1>The Story</h1>
                    <p>Originally created as a hobby project in 2000 by Kevin Lewandowski, Discogs has grown to become a definitive resource for Vinyl and CD recordings.</p>
                </div>
            </div>
        </div>
        
    </main>

    <footer>
        <!-- 3 footer lists -->
        <div class="flex_container">
            <div class="footer_list">
                <ul>
                    <h2>Help</h2>
                    <li><a href="">Get Started</a></li>
                    <li><a href="">Shipping</a></li>
                    <li><a href="">Payment</a></li>
                    <li><a href="">Help and Support</a></li>
                    <li><a href="">Forum</a></li>
                </ul>
            </div>

            <hr>

            <div class="footer_list">
                <ul>
                    <h2>Contact</h2>
                    <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
                    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                    <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                    <li><a href=""><i class="fa fa-pinterest" aria-hidden="true"></i> Pinterest</a></li>
                    <li><a href=""><i class="fa fa-soundcloud" aria-hidden="true"></i> Soundcloud</a></li>
                </ul>
            </div>

            <hr>

            <div class="footer_list">
                <ul>
                    <h2>Discogs</h2>
                    <li><a href="">About us</a></li>
                    <li><a href="">Sign up</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Discogs Events</a></li>
                </ul>
            </div>
        </div>

        <ul id="footer_items">
            <li><a href="">	&copy; 2020 Discogs</a></li>
            <li><a href="">Cookie Policy</a></li>
            <li><a href="">Term of Servic</a></li>
            <li><a href="">Privacy Policy</a></li>
        </ul>
        </div>
    </footer>
</body>

</html>