<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/mjj6lpb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheet.css">
    <script src="../js/script.js"></script>
</head>


<body>
    <header>
        <!-- search button in small screen -->
        <a class="search_button" href="#"><i class="fa fa-search"></i></a>

        <!-- logo -->
        <a href="index.html"><img id="logo" src="../public/images/Discogs Logo.jpeg" alt="Discogs Logo"></a>

        <!-- search box -->
        <div class="text_box">
            <input class="input_txt" type="text" placeholder="Search album, artists and more..." name="">
            <a class="search_button" href="#"><i class="fa fa-search"></i></a>
        </div>

        <!-- top navigation list -->
        <nav id="topnav">
            <ul>
                <li><a href="productListing.html">Buy Music</a></li>
                <li><a href="">Sell Music</a></li>
                <li><a href=""><i class="fa fa-question-circle"></i> Help</a></li>
                <li><a href=""><i class="fa fa-heart"></i> Wishlist</a></li>
                <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                <li><a href="logIn.html"><i class="fa fa-user"></i> Log In</a></li>
            </ul>
        </nav>

        <!-- hamburger icon in small screen -->
        <a href="javascript:void(0);" class="hamburger" onclick="showHide('topnav')"><i class="fa fa-bars"></i></a>
    </header>

    <main>
        <!-- the top big image -->
        <div class="container">
            <img id="home_image" src="../public/images/Vinyl homepage.jpeg" alt="photo of a vinyl">
            <a id="intro" href="about.html">Discover new music.<br>Track your collection and wishlist.<br>Contribute to the catalog.<br>Buy & Sell in Marketplace.<br>Learn more...</a>
        </div>

        <!-- navigation in the main area -->
        <div class="flex_container">
            <div class="container">
                <img class="nav_image" src="../public/images/shop music.jpeg" alt="photo of poeple buying CD">
                <a href="productListing.html">Buy Music</a>
            </div>

            <div class="container">
                <img class="nav_image" src="../public/images/sell music.jpeg" alt="photo of CD">
                <a href="">Sell Music</a>
            </div>

            <div class="container">
                <img class="nav_image" src="../public/images/community.jpeg" alt="photo of a person">
                <a href="">Community</a>
            </div>
        </div>

        <!-- special event section -->
        <h1 id="left_title">Special Events</h1>

        <div class="flex_container">
            <section>
                <img src="../public/images/special event 1.jpeg" alt="Special Event 1">
            </section>
            <section>
                <img src="../public/images/special event 2.jpeg" alt="Special Event 2">
            </section>
        </div>

        <!-- newsletter subscription section -->
        <div class="flex_container">
            <h2>Join Discogs Newsletters - Keep up with new releases, artists and more!</h2>
            <div class="subscribe_box">
                <input class="input_txt" type="text" placeholder="Enter your email" name="">
                <button id="subscribe_button" type="submit">Subscribe</button>
            </div>
        </div>

        <!-- app advertisement section -->
        <section class="app_section">
            <div class="grey_background">
                <div class="layout">
                    <img class="item1" src="../public/images/mobile app.png" alt="Image of Mobile App">
                    <h2>It's Everywhere!<br>The official Discogs App.<br>Downlaod now for free.</h2>
                    <img class="item2" src="../public/images/app store.svg" alt="button of App Store">
                    <img class="item3" src="../public/images/Google Play.png" alt="button of Google Play">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <!-- 3 footer lists -->
        <div class="flex_container">
            <div class="footer_list">
                <ul>
                    <h2>Help</h2>
                    <li><a href="">Get Started</a></li>
                    <li><a href="">Shipping</a></li>
                    <li><a href="">Payment</a></li>
                    <li><a href="">Help and Support</a></li>
                    <li><a href="">Forum</a></li>
                </ul>
            </div>

            <hr>

            <div class="footer_list">
                <ul>
                    <h2>Contact</h2>
                    <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
                    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                    <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                    <li><a href=""><i class="fa fa-pinterest" aria-hidden="true"></i> Pinterest</a></li>
                    <li><a href=""><i class="fa fa-soundcloud" aria-hidden="true"></i> Soundcloud</a></li>
                </ul>
            </div>

            <hr>

            <div class="footer_list">
                <ul>
                    <h2>Discogs</h2>
                    <li><a href="">About us</a></li>
                    <li><a href="">Sign up</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Discogs Events</a></li>
                </ul>
            </div>
        </div>

        <ul id="footer_items">
            <li><a href="">	&copy; 2020 Discogs</a></li>
            <li><a href="">Cookie Policy</a></li>
            <li><a href="">Term of Servic</a></li>
            <li><a href="">Privacy Policy</a></li>
        </ul>
        </div>
    </footer>
</body>

</html>